     <div id="sidebar">
        <h1>¿Querés conocernos mejor?</h1>
      <ul class="sidemenu">
        <li><a href="QueEs.aspx">¿Que es Consorcius.net?</a></li>
        <li><a href="FAQ.aspx">Preguntas Frecuentes</a></li>
        <li><a href="QuienesSomos.aspx">¿Quienes Somos?</a></li>
        <li><a href="Mision.aspx">Misión / Visión</a></li>
        <li><a href="Cultura.aspx">Nuestra Cultura</a></li>
        <li><a href="Contacto.aspx">Contacto</a></li>
      </ul>
      <h1>Nuestra filosofía</h1>
      <p class="align-justify">&quot;Si oyes una voz dentro de ti que dice "no se puede pintar", entonces por supuesto, la pintura silenciará la voz.&quot; </p>
      <p class="align-right">- Vincent Van Gogh</p>
    </div>