
<br/><br/>        
        <p class="align-left">
          <label>Nombre</label><br/><input name="empleadoNombre"  type="text" size="30" /><br/><br/>
          <label>Apellido</label><br/><input name="empleadoApellido"  type="text" size="30" /><br/><br/>
          <label>Cuit</label><br/><input name="empleadoCuit"  type="text" size="30" /><br/><br/>
          <label>Email</label><br/><input name="empleadoEmail"  type="text" size="30" /><br/><br/>
          <label>Usuario</label><br/><input name="empleadoUsuario"  type="text" size="30" /><br/><br/>
          <label>Clave</label><br/><input name="empleadoClave"  type="password" size="30" /><br/><br/>
         </p>
          <p class="align-right"> <input class="button" runat="server" type="submit" value="Enviar" onserverclick=OnSubmitAltaEmpleado/></p>
          
        


