<div id="menu" runat="server">
    <ul>
         <li><a href="ClientesHome.aspx" id="CLHANC001" runat="server">Inicio</a></li>
         <li><a href="" id="CLHANC004" runat="server">Usuarios del consorcio</a></li> 
         <li><a href="Consorcios.aspx" id="CLHANC005" runat="server">Consorcios</a></li>
         <li><a href="Movimientos.aspx" id="CLHANC006" runat="server">Movimientos</a></li>
         <li><a href="Expensas.aspx" id="CLHANC007" runat="server">Expensas</a></li>
         <a href="#" id="CLHANC002" runat="server" onServerClick="cambiarIdioma">Cambiar Idioma</a>
         <li><a href="../Logout.aspx" id="CLHANC003" runat="server">Cerrar Sesion</a></li>
       
     </ul>
     
  </div>